---
Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100
AccessModifierOffset: -4
PointerAlignment: Left
ReferenceAlignment: Left
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  # Own headers first
  - Regex: '^"fastdb/'
    Priority: 1
  # Third-party
  - Regex: '^<'
    Priority: 2
